.strength_wrapper {
  background: #191919;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.shape_strength {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  svg {
    circle {
      fill: #ff4155;
    }
  }
}

.strength_btn {
  width: 350px;
  height: 65px;
  background: #373737;
  margin-right: 30px;
  border-radius: 38px;
  text-align: center;
  line-height: 65px;
  padding: 0 1rem;
  color: #fff;
  border: 2px solid transparent;
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
}

.str_box{
    background: #232221;
    border: 2px solid #373737;
    border-radius: 12px;
    text-align: center;
    padding: 50px 40px;
    margin-bottom: 30px;
    // max-width: 350px;
}